

.magicCard{
  font-family: 'Walter Turncoat', cursive;
  background-color:whitesmoke;
}





.navtext{
  font-family: 'Kings';
  font-size: 20px;
  gap: 10px;
}

.navtext2{
  font-family: 'Kings';
  font-size: 15px;
  gap: 10px;
}

.textTran{
  left: 100px;
}

.bglogo{
  left: 98px;
}



